**/node_modules
package-lock.json
package.json
public/hot
public/storage
bootstrap/cache
storage/*.key
storage/framework
storage/logs
vendor
.idea
_ide_helper.php
.vscode
.vs
.git
.php-cs-fixer.cache
.phpunit.result.cache
docker-compose.yml
docker
phpstan.neon
README.md
phpunit.xml
.editorconfig
tests
storage/clockwork
